@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
$username_font_size: calc(1rem + 0.1vw);
$message_text_font_size: calc(1rem + 0.05vw);
$username_color:  hsl(240, 100%, 60%);

@media (max-width: 768.01px){
    :root{
        --conversation_container_width: 95%;
    }
}

@media (min-width: 768.01px){
    :root{
        --conversation_container_width: 60%;
    }
}

*{
    font-family: "Lato", sans-serif;
    word-wrap: break-word;
}

html, body{
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: hsl(0, 0%, 93.5%);
}

.flex_direction_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex_direction_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conversation_container{
    width: var(--conversation_container_width);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
}

.message_metadata{
    display: flex;
    flex-flow: row wrap;
    margin-left: 4px;
}

.messages_container{
    overflow: auto;
    height: 90%;
}

.new_message_container.focused{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075), 0 0 2px 2px hsla(214, 100%, 55%, 60%);
    border: 1px solid hsla(214, 100%, 55%, 60%);
}

.new_message_container{
    
    padding:9px;
    border-radius: 12px;
    
    border: 1px solid hsl(0, 0%, 80%);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin: 18px;
    flex-grow: 1;
    background-color: white;
    textarea{
        width: 100%;
        
        border: none;
        background-image: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: initial;
        
        resize: none;
    }
    textarea:focus{
        outline: none;
    }
}

.message_username{
    font-size: $username_font_size;
    color: $username_color;
    font-weight: bolder;
    margin-right:  12px;
}

.message_time{
    font-size: $username_font_size;
}

.message_text_container{
    background-color: white;
    display: inline-block;
    padding: 9px;
    border-radius: 12px;
    border: 0.25px solid hsl(0, 0%, 80%);
    /*border: 2px solid #DFE1E6;*/
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.message_text{
    font-size: $message_text_font_size;

}

.message_container{
    margin: 18px;
}

